<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ClientIpAddress" value="192.168.98.232"/>
        <add key="ClientPort" value="0"/>
        <add key="ServerIpAddress" value="192.168.98.215"/>
        <add key="ServerPort" value="5000"/>
    </appSettings>
</configuration>